@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-serif: "PP Editorial";

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-accent: #ff453b;

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --font-sans:
        Geist, Inter, Inter override, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono: "Geist Mono", monospace;

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >= --theme(--breakpoint-sm)) {
        max-width: none;
    }

    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@font-face {
    font-family: "PP Editorial";
    src: url("/fonts/pp-editorial.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Geist Mono";
    src: url("/fonts/GeistMono-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground;
        /* font-feature-settings: "rlig" 1, "calt" 1; */
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;

        background-image: url("https://www.citalia.com/-/media/Bynder/Citalia-destinations/Italy/Cities/Venice/Venice-2023-Rialto-Bridge-001109-Hybris.jpg?rev=c5d099adefcd4cc0943d44baada29c93&hash=B5656830DBB586F4D7B9F656DFCD971F&w=1920&h=940");
        /* / url("data:image/svg+xml,%3Csvg height='100' width='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 100,0 100,100 0,100' style='fill:%2398C1D9; opacity: 0.9;'/%3E%3Cpolygon points='50,0 100,50 50,100 0,50' style='fill:%23DCDAD5;'/%3E%3C/svg%3E "); */
        /* background-size: 3cm; */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-size: auto 100%;
    }
    h1 {
        @apply text-5xl font-serif text-accent @xs:text-8xl;
        line-height: 3.2rem;
    }
    h2 {
        @apply text-4xl font-serif;
    }
    h3 {
        @apply text-2xl font-serif;
    }
    .glass {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.42);
    }
    a {
        @apply !text-accent border-b-1;
    }
    pre {
        @apply w-full p-2 my-1 rounded-lg !bg-white/20  border-2 border-accent text-wrap;
    }
    p,
    li,
    ul {
      @apply font-sans mt-3;
    }
    li {
      /* add the bullet point */
      @apply list-disc ml-6 mt-3;
    }
    blockquote {
      @apply border-l-4 pl-4 italic border-gray-400;
    }
    aside {
        /* width: 25%; */
        float: right;
        border-left: 6px solid black !important;
        border: 1px solid gray;
        border-radius: 6px;
        max-width: 20vw;
        @apply p-4;
    }
    code {
        @apply text-accent;
    }
}
