---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="404 - Not Found"
  description="404 Error — this page was not found"
>
    <div style={{ textAlign: "center", marginTop: "3rem" }} class="h-screen">
        <p class="font-mono text-xl">404</p>
      <h2>Oops! The page you were trying to go to doesn't exist.</h2>
    </div>
</BaseLayout>
