---
import { buttonVariants, Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Venice: Micropython for VEX V5">
  <section>
      <div class="mx-auto my-auto z-10 mt-[10vh] max-w-[80vw] items-center flex flex-col">
        <h1 class="text-center"><span class="font-bold">Venice</span>, an <em>open source</em>, community-driven Micropython runtime for the VEX V5</h1>
        <div class="flex gap-5">
            <a href="https://github.com/Venice-V5"><Button variant="outline" className="justify-center"><h2 class="font-sans">Github</h2></Button></a>
            <a href="https://discord.gg/Egw6kMU8hX"><Button variant="outline" className="justify-center"><h2 class="font-sans">Discord</h2></Button></a>
        </div>
      </div>
  </section>
</BaseLayout>
