---
import { buttonVariants, Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Venice: Micropython for VEX V5">
  <section>
      <div class="mx-auto my-auto z-10 mt-[10vh] max-w-[80vw] items-center flex flex-col">
        <h1 class="text-center"><span class="font-bold">Venice</span>, an <em>open source</em>, community-driven Micropython runtime for the VEX V5</h1>
        <div class="flex gap-5">
            <a href="https://github.com/Venice-V5"><Button variant="outline" className="justify-center font-sans text-2xl">Github</Button></a>
            <a href="https://discord.gg/Egw6kMU8hX"><Button variant="outline" className="justify-center font-sans text-2xl">Discord</Button></a>
        </div>
        <h2 class="mt-10 text-center w-full mb-3">From the blog</h2>
        <div class="flex flex-col gap-4 glass rounded-lg p-5 w-[30vw] shadow-lg hover:shadow-xl border-accent hover:bg-accent/10">
            <h3>Hello, World!</h3>
            <span class="font-sans">Blog post description goes here :D</span>
        </div>
      </div>
  </section>
</BaseLayout>
