---
import { buttonVariants } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="backdrop-blur-sm h-[100vh] w-[100vw]">
      <div>
          <h1 class="p-20 w-[40%]"><span class="font-bold">Venice</span>, an <em>open source</em>, community-driven Micropython runtime for the VEX V5</h1>
      </div>
  </section>
</BaseLayout>
