---
import "@/styles/global.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title || "Venice: Python for VEX V5"}</title>
        <meta name="description" content={description || "Venice is a Python runtime for VEX V5 robots."} />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
  </head>
  <body class="bg-background min-h-screen font-sans antialiased">
      <main class="w-[100vw] h-[100vh]">
          <svg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg' class='z-[-1000] backdrop-blur-[2px] fixed top-0 left-0 w-screen h-screen'>
            <filter id='noiseFilter'>
              <feTurbulence
                type='fractalNoise'
                baseFrequency='4'
                numOctaves='1'
                stitchTiles='stitch'/>
            </filter>
            <rect width='100vw' height='500vh' filter='url(#noiseFilter)'/>
          </svg>
        <slot class="z-10" />
        <div class="fixed top-4 left-4 text-xl font-mono z-[9]">image from <br /><a href="https://www.citalia.com/holidays/italy/veneto/venice/grand-canal-boat-tour-excursion/">Citalia</a></div>
      </main>
      <script>
      document.addEventListener('DOMContentLoaded', () => {
            renderMathInElement(
                document.body,
                {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "\\[", right: "\\]", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false}
                    ]
                }
            );
      });
          </script>
  </body>
</html>
